<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div onclick="divTag()">
        <button onclick="btnTag(event)">click</button>
    </div>
    <!-- <script src="Jpract.js"></script> -->
    <!-- <script src="Product.js"></script> -->
    <!-- <script src="StringPract.js"></script> -->
    <!-- <script src="CompA.js"></script> -->
     <!-- <script src="../ObjectCreateWay.js"></script> -->
      <script src="../EventBubblingCapturing.js"></script>
</body>
</html>